@use "mixins" as mx;
@use "variables" as v;

.aboutUs {
  @include mx.container;


  &__title {
    @include mx.title;
    text-align: right;
    color: v.$titles;
  }

  &__content {
    display: flex;
  }

  &__content .contentImage {
    min-width: 40%;
  }

  &__content .contentImage img {
    @include mx.fancyBorderRadius2;
    @include mx.shadow;
    width: 100%;
    // border-radius: 5px;
  }

  &__content .contentText {
    display: flex;
    padding: 0 0 0 6rem;
    flex-direction: column;
    justify-content: space-between;
  }

  &__content .contentParagraph {
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    text-align: justify;
    padding: 0 0 2rem 0;
  }

  &__content .contentPlus {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__content .contentPlus i {
    font-size: 3rem;
    color: #3c6e71;
    padding: 0 2rem 0 0;
  }

  &__content .contentPlus .reservar {
    @include mx.button-shadow;
    margin-top: 1rem;
    background-color: v.$buttonColor;
    color: v.$fontColorSecond;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: v.$fontSecond;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  &__content .contentPlus .reservar:hover {
    background-color: rgba(v.$buttonColor, .7);
  }

}

// MOBILE

@media (max-width: 415px) and (orientation: portrait) {
  .aboutUs {
    width: 90%;
    padding: 4rem 0 2rem 0;
    &__content {
      flex-direction: column;
    }

    &__title {
      @include mx.responsiveTitle;
      line-height: 3rem;
    }

    &__content .contentText {
      margin-top: 2rem;
      padding: 0;
    }

    &__content .contentPlus {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
    }

    &__content .contentPlus i {
      padding: 0;
    }

    &__content .contentPlus .contentIcons {
      display: flex;
      justify-content: space-between;
    }

    &__content .contentPlus .reservar {
      width: 100%;
    }
  }
}

@media (max-width: 915px) and (orientation: landscape) {
  .aboutUs {
    width: 90%;
    padding: 4rem 0 2rem 0;

    &__content {
      flex-direction: column;
    }

    &__title {
      @include mx.responsiveTitle;
      line-height: 3rem;
    }

    &__content .contentText {
      margin-top: 2rem;
      padding: 0;
    }
  }
}

@media (max-width: 1025px) and (min-height: 1023px) and (orientation: portrait) {
  .aboutUs {
    width: 90%;
    padding: 4rem 0 2rem 0;

    &__content {
      flex-direction: column;
    }

    &__title {
      @include mx.responsiveTitle;
      line-height: 3rem;
    }

    &__content .contentText {
      margin-top: 2rem;
      padding: 0;
    }
  }
}