@use "mixins" as mx;

.aboutUs {
  @include mx.container;
  padding: 2rem 0;

  &__title {
    @include mx.title;
  }

  &__content {
    display: flex;
  }

  &__content .contentImage {
    min-width: 40%;
  }

  &__content .contentImage img {
    @include mx.shadow;
    width: 100%;
    border-radius: 5px;
  }

  &__content .contentText {
    padding: 0 0 0 2.5rem;
  }

  &__content .contentParagraph {
    font-size: 1.3rem;
    text-align: justify;
  }

  &__content .contentParagraph:nth-child(1) {
    margin-bottom: 1rem;
  }
}

