@use "variables" as v; 
@use "mixins" as mx;

.areaMap {
  @include mx.container;

  &__title {
    @include mx.title;
    text-align: left;
    color: v.$buttonColor;
  }

  &__map {
    width: 100%;
  }

  &__map iframe {
    width: 100%;
  }
}

// MOBILE

@media (max-width: 415px) and (orientation: portrait) {
  .areaMap {
    width: 90%;
    padding: 2rem 0 0 0;

    &__title {
      margin-bottom: 1rem;
      font-size: 2rem;
      text-align: left;
      line-height: 3rem;
    }
  }
}

@media (max-width: 915px) and (orientation: landscape) {
  .areaMap {
    width: 90%;
    padding: 2rem 0 0 0;

    &__title {
      margin-bottom: 1rem;
      font-size: 2rem;
      text-align: left;
      line-height: 3rem;
    }
  }
}

@media (max-width: 1025px) and (min-height: 1023px) and (orientation: portrait) {
  .areaMap {
    width: 90%;
    padding: 2rem 0 0 0;

    &__title {
      margin-bottom: 1rem;
      font-size: 2rem;
      text-align: left;
      line-height: 3rem;
    }
  }
}