@use "variables" as v; 
@use "mixins" as mx;

.gallery {
  @include mx.container;
  margin-bottom: 2.5rem;

  &__title {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    margin-top: 5rem;
  }

  &__star li{
    display: inline-block;
    color: gold;
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  &__grid {
    display: grid;
    grid-template-columns:  auto auto auto;
    gap: 3rem;
  }
  
  &__grid .gridImg {
    min-width: 33%;
  }
  
  &__grid .gridImg img {
    @include mx.shadow;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// MOBILE

@media (max-width: 415px) and (orientation: portrait) {
  .gallery {
    width: 90%;
    padding: 2rem 0;
    margin-bottom: 0;
    
    &__title {
      @include mx.responsiveTitle;
      line-height: 3rem;
      margin: 0;
    }

    &__grid {
      grid-template-columns: auto;
      gap: 1rem;
    }
  }

  
}