.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  &__slogan {
    font-family: 'Pacifico', cursive;
    color: #fff;
    text-shadow: 2px 2px 1px rgba(1, 1, 8, 0.6);
    font-size: 6rem;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__wave {
    position: absolute;
    bottom: 0;
    color: #fff;
  }
}

// MOBILE

@media (max-width: 415px) and (orientation: portrait) {
  .hero__slogan {
    font-size: 3rem;
  }
 }

@media (max-width: 915px) and (orientation: landscape) {
  .hero__slogan {
    font-size: 2rem;
  }
}

// @media (max-width: 1025px) and (min-height: 1023px) and (orientation: portrait) {

//  }

// // Tablets - Paisagem
// @media (max-width: 1195px) and (orientation: landscape),
// (max-width: 1367px) and (min-height: 1023px) and (orientation: landscape) { ... }
// */