@mixin container {
  width: 100%;
  margin: 0 auto;
  padding: .2rem 2rem;
  background-color: aliceblue;
}

@mixin shadow {
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
}

@mixin button-shadow {
  box-shadow:
  0.3px 0.3px 0.9px rgba(0, 0, 0, 0.02),
  0.7px 0.8px 2.1px rgba(0, 0, 0, 0.028),
  1.4px 1.5px 3.9px rgba(0, 0, 0, 0.035),
  2.5px 2.7px 6.9px rgba(0, 0, 0, 0.042),
  4.6px 5px 13px rgba(0, 0, 0, 0.05),
  11px 12px 31px rgba(0, 0, 0, 0.07)
}