$font: "Inter", sans-serif;
$fontSecond: "Pacifico", cursive;
$fontColor: #011627;
$fontColorSecond: #FDFFFC;
$backgroundColor: #FDFFFC;
$footerColor: #E71D36;
$buttonColor: #E71D36;
$titles: #E71D36;
