@use "variables" as v; 
@use "header";
@use "hero";
@use "aboutUs";
@use "ourHistory";
@use "gridImages.scss";
@use "areaMap";

* {
  font-family: v.$font;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}