.header__nav ul li {
  list-style: none;
}

.header__nav ul li a {
  text-decoration: none;
}

/* START HEADER */
.header {
  width: 100%;
  margin: 0 auto;
  padding: 0.2rem 2rem;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__brand img {
  width: 75%;
}
.header__nav ul {
  display: flex;
}
.header__nav ul li {
  padding: 0 1rem;
}
.header__nav ul li a {
  text-transform: uppercase;
  color: #011627;
  font-weight: 700;
}
.header__nav ul li a:hover {
  color: rgba(1, 22, 39, 0.7);
}
.header__userProfile {
  display: flex;
  align-items: center;
}
.header__userProfile .profile {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}
.header__userProfile .profile span {
  padding: 0 1rem 0 0.5rem;
}
.header__userProfile .profile img {
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.747);
  width: 2.5rem;
}
.header__userProfile .authentication-btn button {
  box-shadow: 0.3px 0.3px 0.9px rgba(0, 0, 0, 0.02), 0.7px 0.8px 2.1px rgba(0, 0, 0, 0.028), 1.4px 1.5px 3.9px rgba(0, 0, 0, 0.035), 2.5px 2.7px 6.9px rgba(0, 0, 0, 0.042), 4.6px 5px 13px rgba(0, 0, 0, 0.05), 11px 12px 31px rgba(0, 0, 0, 0.07);
  background-color: #E71D36;
  color: #FDFFFC;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.header__userProfile .authentication-btn button:hover {
  background-color: rgba(231, 29, 54, 0.7);
}

/* END READER */
.hero {
  height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.aboutUs {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}
.aboutUs__title {
  bottom-margin: 3rem;
  font-size: 2.5rem;
  line-height: 9rem;
}
.aboutUs__content {
  display: flex;
}
.aboutUs__content .contentImage {
  min-width: 40%;
}
.aboutUs__content .contentImage img {
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
  width: 100%;
  border-radius: 5px;
}
.aboutUs__content .contentText {
  padding: 0 0 0 2.5rem;
}
.aboutUs__content .contentParagraph {
  font-size: 1.3rem;
  text-align: justify;
}
.aboutUs__content .contentParagraph:nth-child(1) {
  margin-bottom: 2rem;
}

.ourHistory {
  width: 80%;
  margin: 0 auto;
}
.ourHistory__title {
  bottom-margin: 3rem;
  font-size: 2.5rem;
  line-height: 9rem;
  text-align: right;
}
.ourHistory__content {
  display: flex;
  flex-direction: row-reverse;
}
.ourHistory__content2 {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
}
.ourHistory__content .contentImage, .ourHistory__content2 .contentImage {
  min-width: 40%;
}
.ourHistory__content .contentImage img, .ourHistory__content2 .contentImage img {
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
  width: 100%;
  border-radius: 5px;
}
.ourHistory__content .contentText {
  padding: 0 2.5rem 0 0;
}
.ourHistory__content2 .contentText {
  padding: 0 0 0 2.5rem;
}
.ourHistory__content .contentParagraph, .ourHistory__content2 .contentParagraph {
  font-size: 1.3rem;
  text-align: justify;
}
.ourHistory__content .contentParagraph:nth-child(1) {
  margin-bottom: 2rem;
}
.ourHistory__content2 .contentParagraph:nth-child(1) {
  margin-bottom: 2rem;
}

.gallery {
  width: 80%;
  margin: 0 auto;
}
.gallery__title {
  font-size: 2.5rem;
  margin-top: 5rem;
}
.gallery__star li {
  display: inline-block;
  color: gold;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.gallery__grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 3rem;
}
.gallery__grid .gridImg {
  min-width: 33%;
}
.gallery__grid .gridImg img {
  box-shadow: 5.3px 1.3px 50.6px rgba(0, 0, 0, 0.035), 42px 10px 404px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.areaMap {
  width: 80%;
  margin: 0 auto;
}
.areaMap__title {
  bottom-margin: 3rem;
  font-size: 2.5rem;
  line-height: 9rem;
  text-align: right;
}
.areaMap__map {
  width: 100%;
}
.areaMap__map iframe {
  width: 100%;
}

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
